<mat-nav-list (click)="onSidenavClose()">
  <div class="center-horizontally-flex">
    <img src="/assets/logo.png" alt="Logo Faisceaume">
  </div>
  <div class="infos-sidenav">
    <p *ngIf="isAuth">Connecté en tant que {{ authUser.email }}</p>
    <p *ngIf="!isAuth" class="text-danger">Vous n'êtes pas connecté !</p>

    <p *ngIf="authUser.roletype">Rôle : {{ authUser.roletypefrench | lowercase }}</p>
    <p *ngIf="!authUser.roletype" class="text-danger">Pas de rôle assigné !</p>
  </div>
  <mat-list>
    <mat-divider></mat-divider>
    <!-- Common part -->
    <div>
      <a mat-list-item *ngIf="authUser" (click)="signOutUser()">
        <mat-icon color="accent">power_settings_new</mat-icon>
        <span class="icon-text logout-text">Se déconnecter</span> 
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="icon-text">Accueil</span>
      </a>
    </div>

    <!-- Admin part -->
    <div *ngIf="isAdmin">
      <a mat-list-item routerLink="/users/list">
        <mat-icon>portrait</mat-icon>
        <span class="icon-text">Utilisateurs</span>
      </a>
      <a mat-list-item routerLink="/clients/list">
        <mat-icon>face</mat-icon>
        <span class="icon-text">Clients</span> 
      </a>
      <a mat-list-item routerLink="/members/list">
        <mat-icon>people</mat-icon>
        <span class="icon-text">Membres</span>   
      </a>
      <a mat-list-item routerLink="projects/list">
        <mat-icon>vertical_split</mat-icon>
        <span class="icon-text">Projets</span>   
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="tasks/my-tasks">
        <mat-icon>assignment</mat-icon>
        <span class="icon-text">Mes tâches</span>   
      </a>
      <a mat-list-item routerLink="bugs/my-bugs">
        <mat-icon>assignment_late</mat-icon>
        <span class="icon-text">Mes bugs</span>   
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/members/member-form">
        <mat-icon>person_add</mat-icon>
        <span class="icon-text">Nouveau membre</span> 
      </a>
      <a mat-list-item routerLink="/projects/project-form">
        <mat-icon>note_add</mat-icon>
        <span class="icon-text">Nouveau projet</span> 
      </a>
      <mat-divider></mat-divider>
    </div>

    <!-- Dev part -->
    <div *ngIf="isDev">
      <a mat-list-item routerLink="dev/members">
        <mat-icon>people</mat-icon>
        <span class="icon-text">Membres</span>
      </a>
      <a mat-list-item routerLink="dev/projects">
        <mat-icon>vertical_split</mat-icon>
        <span class="icon-text">Projets</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="dev/my-tasks">
        <mat-icon>assignment</mat-icon>
        <span class="icon-text">Mes tâches</span>   
      </a>
      <a mat-list-item routerLink="dev/my-bugs">
        <mat-icon>assignment_late</mat-icon>
        <span class="icon-text">Mes bugs</span>   
      </a>
    </div>

    <!-- Client part -->
    <div *ngIf="isClient">
      <a mat-list-item routerLink="client/my-projects">
        <mat-icon>vertical_split</mat-icon>
        <span class="icon-text">Mes projets</span>   
      </a>
    </div>

  </mat-list>
</mat-nav-list>
