<main>
  <header>
    <h1>Mes projets</h1>

    <app-auth-user [rolesGranted]="rolesGranted" (isGrantedEvent)="isAuthUserGranted($event)"></app-auth-user>

    <div *ngIf="isGranted && isDataLoaded">
      <div *ngIf="projects.length === 0">
        <p>Vous n'avez aucun projet.</p>
      </div>
    </div>
  </header>

  <div class="mat-elevation-z8">
    <app-data-loading [isDataLoaded]="isDataLoaded"></app-data-loading>

    <div *ngIf="isDataLoaded && isGranted && projects.length !== 0">
      <mat-card *ngFor="let project of projects">
        <mat-card-header>
          <img mat-card-avatar [src]="project.picture" alt="Image du projet">
          <mat-card-title>{{ project.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>Crée le : {{ project.timestamp | date: 'EEEE, dd/MM/yy' }}</p>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-raised-button color="primary"
            (click)="onBugsList(project)">
            <mat-icon>bug_report</mat-icon>Liste des bugs de ce projet
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</main>