<main>
  <header>
    <h1>Détails du client {{ client.firstname }} {{ client.lastname }}</h1>

    <app-auth-user [rolesGranted]="rolesGranted" (isGrantedEvent)="isAuthUserGranted($event)"></app-auth-user>
    
    <div *ngIf="isGranted && isDataLoaded">
      <div class="btn-group-container">
        <button mat-raised-button color="accent"
          (click)="onClientsList()">
          <mat-icon>arrow_back</mat-icon>Retourner à la liste des clients
        </button>
      </div>

      <div *ngIf="isWrongClientId">
        <p class="text-danger">L'identifiant du client présent dans l'URL est incorrect. Aucun client n'a été trouvé en base avec cet ID.</p>
      </div>
    </div>
  </header>

  <div *ngIf="!isWrongClientId" class="mat-elevation-z8">
    <app-data-loading [isDataLoaded]="isDataLoaded"></app-data-loading>

    <mat-card *ngIf="isDataLoaded && isGranted">
      <mat-card-header>
        <div mat-card-avatar class="center-flex">
          <mat-icon>portrait</mat-icon>
        </div>
        <mat-card-title>{{ client.firstname }} {{ client.lastname }}</mat-card-title>
        <mat-card-subtitle>{{ client.clientid }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Créé le {{ client.timestamp | date: 'dd/MM/yy' }}</p>
        <h6>Coordonnées</h6>
        <div class="center-vertically-flex">
          <mat-icon>local_phone</mat-icon>
          <span class="icon-text">{{ client.phone }}</span>
        </div>
        
        <div *ngIf="client.email"  class="center-vertically-flex">
          <mat-icon>email</mat-icon>
          <span class="icon-text">{{ client.email }}</span>
        </div>
        <div *ngIf="!client.email" class="center-vertically-flex text-danger">
          <mat-icon>email</mat-icon>
          <span class="icon-text">Pas d'adresse mail.</span>
        </div>

        <mat-divider></mat-divider>
        
        <div *ngIf="client.projects.length === 0">
          <p>Aucun projet n'est affilié à ce client.</p>
        </div>

        <div *ngIf="client.projects.length !== 0">
          <h6>Projet(s) du client</h6>
          <div class="mat-card-table">
            <mat-table [dataSource]="client.projects">

              <mat-header-row *matHeaderRowDef="columnsTable"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnsTable;"></mat-row>
        
              <!-- Project column -->
              <ng-container matColumnDef="projects">
                <mat-header-cell *matHeaderCellDef>Projets</mat-header-cell>
                <mat-cell *matCellDef="let project">
                  {{ project.title }}
                </mat-cell>
              </ng-container>
        
              <!-- Bug column -->
              <ng-container matColumnDef="bugs">
                <mat-header-cell *matHeaderCellDef>Bug(s) signalé(s) par ce client</mat-header-cell>
                <mat-cell *matCellDef="let project">
                  <div *ngIf="project.bugs.length === 0">
                    <p>Ce client n'a signalé aucun bug pour ce projet</p>
                  </div>
                  <div *ngIf="project.bugs.length !== 0">
                    <div *ngFor="let bug of project.bugs">
                      <span>{{ bug.title }}</span>
                      <button mat-icon-button color="primary"
                        matTooltip="Détails du bug"
                        (click)="onBugDetails(bug)">
                        <mat-icon>find_in_page</mat-icon>
                      </button>
                    </div>
                  </div>
                </mat-cell>
              </ng-container>
            </mat-table>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions class=btn-group-container>
        <button mat-raised-button color="primary"
          (click)="onEditClient(client)">
          <mat-icon>edit</mat-icon>Modifier ce client
        </button>
        <button mat-raised-button color="warn"
          (click)="onDeleteClient(client)">
          <mat-icon>delete_forever</mat-icon>Supprimer ce client
        </button>
      </mat-card-actions>

    </mat-card>
  </div>
</main>