<div class="addform" fxLayout="column" [ngStyle]="{'padding':'20px'}">

  <form #form="ngForm" fxLayout="row wrap" autocomplete="off" (submit)="onSubmit(form)">

      <!-- <h2 fxFlex="100">New Project</h2> -->

      <div fxFlex="30" *ngIf="memberService.fileUrl != null">
        <img mat-card-image [src]="memberService.fileUrl" class="imgproject">
        <!-- <button mat-icon-button (click)="onDeleteDrapImage()">
          <mat-icon>delete</mat-icon>
        </button> -->
      </div>

      <div fxFlex="70" style="padding: 10px;" fxLayout="column">
        <input *ngIf="projectsService.formData ? projectsService.formData.projectid : null" type="hidden"
            name="projectid" #projectid="ngModel"
            [(ngModel)]="projectsService.formData.projectid"
            class="form-control">
        <input *ngIf="projectsService.formData ? projectsService.formData.projectid : null" type="hidden"
            name="picture" #picture="ngModel"
            [(ngModel)]="projectsService.formData.picture"
            class="form-control">
        <mat-form-field>
          <input matInput placeholder="Project Title"
            name="title" #title="ngModel"
            [(ngModel)]="projectsService.formData.title" required>
        </mat-form-field>
        <div fxFlex="100">
          <app-upload-image *ngIf="!memberService.fileUrl"></app-upload-image>
          <button mat-raised-button color="primary" type="button" (click)="onDeleteDrapImage()" style="margin: 0 10px 0 0">Modifier l'image</button>
          <button mat-raised-button color="primary" type="submit"
          [disabled]="!memberService.fileUrl || form.invalid">
          {{projectsService.formData.projectid ? 'Modifier': 'Ajouter'}}
          </button>
        </div>
      </div>
  </form>


    <!-- <div class="del" *ngIf="memberService.fileUrl != null">
        <mat-card class="example-card" >
            <img mat-card-image [src]="memberService.fileUrl" height="200px">
            <mat-card-actions class="text-center">
                <button mat-icon-button (click)="onDeleteDrapImage()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div> -->

</div>


<div class="container" *ngIf="currentProject && tasksFilter" style="padding: 2em 1em" class="addform">

  <mat-accordion [multi]="multi">
    <mat-expansion-panel [expanded]="expandedYear" *ngFor='let tasksYear of tasksYears'>
      <mat-expansion-panel-header>
        <mat-panel-title class="year-title">
          {{ tasksYear.year }}
          <span class="total-time-year">
            <strong>
              <!-- {{ tasksYear.totalTimeSpentYear| number: '1.0-0'}} H  - -->
              {{ tasksYear.totalTimeSpentYear/8  | number: '1.0-0' }} Days
            </strong>
          </span>
          <div>
            <button mat-icon-button color="accent" matTooltip="Print task" (click)="onPrint(tasksYear.year)">
                <mat-icon>print</mat-icon>
            </button>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
            <div [id]="'yearTable' + tasksYear.year">
              <mat-accordion [multi]="multi">
                <!-- *ngIf="tasksFilter[item].year === year" -->
                <mat-expansion-panel [expanded]="expanded" *ngFor="let item of tasksYear.tasksMonth;">
                  <mat-expansion-panel-header >
                    <mat-panel-title class="month-header">
                      <span class="total-time-month">
                        <strong>{{ item.totalTimeSpent | number: '1.0-0'}} H  -
                        {{ item.totalTimeSpent/8  | number: '1.0-0' }} D</strong>
                      </span>
                      {{mois[item.month]}}
                      <div>
                        <button mat-icon-button color="accent" matTooltip="Print task" (click)="onPrintMonth(item.month, tasksYear.year)">
                            <mat-icon>print</mat-icon>
                        </button>
                      </div>
                    </mat-panel-title>
                    <mat-panel-description>

                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div [id]="'monthTable' + item.month + tasksYear.year">
                    <table mat-table [dataSource]="item.listTasks" style="box-shadow: none;">

                      <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                      </ng-container>

                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element">
                          {{element.description}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="timespent">
                        <th mat-header-cell *matHeaderCellDef> Time </th>
                        <td mat-cell *matCellDef="let element"> {{element.timespent}} </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
