<div class="addform" fxLayout="column" [ngStyle]="{'padding':'20px'}">
    <h2>New Project</h2>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input *ngIf="projectsService.formData ? projectsService.formData.projectid : null" type="hidden"
            name="projectid" #projectid="ngModel"
            [(ngModel)]="projectsService.formData.projectid"
            class="form-control">
        <input *ngIf="projectsService.formData ? projectsService.formData.projectid : null" type="hidden"
            name="picture" #picture="ngModel"
            [(ngModel)]="projectsService.formData.picture"
            class="form-control">
        <div fxLayout="column">

            <mat-form-field>
                <input matInput placeholder="project title"
                    name="title" #title="ngModel"
                    [(ngModel)]="projectsService.formData.title" required>
            </mat-form-field>
        </div>

        <app-upload-image *ngIf="!memberService.fileUrl"></app-upload-image>
        <button mat-raised-button color="primary" type="submit"
        [disabled]="!memberService.fileUrl || form.invalid">
        {{projectsService.formData.projectid ? 'Modifier': 'Ajouter'}}
        </button>
    </form>

    <div class="del" *ngIf="memberService.fileUrl != null">
        <mat-card class="example-card" >
            <img mat-card-image [src]="memberService.fileUrl" height="200px">
            <mat-card-actions class="text-center">
                <button mat-icon-button (click)="onDeleteDrapImage()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>


<div class="container" *ngIf="currentProject && tasksFilter" >
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of indexMois;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{mois[item]}}
        </mat-panel-title>
        <mat-panel-description>
          Total TimeSpent : {{ this.tasksFilter[item].totalTimeSpent }} Heures
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table mat-table [dataSource]="tasksFilter[item].listeTasks" class="mat-elevation-z8" *ngIf="tasksFilter[item]" >

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element">
            {{element.description}}
          </td>
        </ng-container>

        <ng-container matColumnDef="timespent">
          <th mat-header-cell *matHeaderCellDef> TimeSpent </th>
          <td mat-cell *matCellDef="let element"> {{element.timespent}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>
