.example-card {
    max-width: 300px;
  }

  .del{
    width: 40%;
    margin: auto;
  }




  .addform {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #5021ff 100%);
    width: 70%;
    margin: auto;
  }

  h2 {
    font-size: 1.3em;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  table {
    width: 100%;
  }

  .imgproject {
    max-width: 100%;
    height: auto;
  }

  .year-title {
    font-size: 3em;
    font-weight: bold;
    background-color: #673ab7;
    color:#eee;
    padding: 1em 0.5em;
  }
  .year-title:hover {
    background: #9c27b0;
    color:"#FFF";
  }

  .total-time-month, .total-time-year  {
    text-align: left;
    font-size: .4em;
    color: #fff;
    text-transform: uppercase;
  }
  .total-time-month {
    padding: 5px 20px 3px;
    margin: 0 10px 0 0;
    width: 80px;
    border-radius: 20px;
    background-color: #F44336;
    text-align: center;
  }
  .total-time-year {
    width: 100px;
    padding: 15px;
    margin: 0 10px 0 20px;
    color: #F44336;
    border: 1px solid #3F51B5;
  }


  .month-header {
    font-size: 2em;
    font-weight: bold;
    color: #F44336;
    align-items: center;
  }
  .header-col {
    color: #e91e63;
  }
  .bg-accordeon {
    background-color: #00bcd4
  }

  .print-button {
    color: #ccc;
    vertical-align: middle
  }
  .print-button:hover {
    color: #000;
  }

  /* https://coolors.co/f44336-e91e63-9c27b0-673ab7-3f51b5-2196f3-03a9f4-00bcd4-009688-4caf50 */
