<div class="addform" fxLayout="column" [ngStyle]="{'padding':'20px'}">
    <h2>Créer un nouveau membre</h2>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <input *ngIf="memberService.formData ? memberService.formData.memberid : null" type="hidden"
            name="memberid" #memberid="ngModel"
            [(ngModel)]="memberService.formData.memberid"
            class="form-control">
        <input *ngIf="memberService.formData ? memberService.formData.memberid : null" type="hidden"
            name="picture" #picture="ngModel"
            [(ngModel)]="memberService.formData.picture"
            class="form-control">
        <div *ngIf="memberService.singleUser">
            <mat-form-field>
                <input matInput placeholder="email"
                    name="email" #email="ngModel"
                    [(ngModel)]="memberService.singleUser.email" required>
            </mat-form-field>
        </div>
        <div fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Nom du nouveau membre"
                    name="name" #name="ngModel"
                    [(ngModel)]="memberService.formData.name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Categorie</mat-label>
                <mat-select name="categoryid" #categoryid="ngModel"
                    [(ngModel)]="memberService.formData.categoryid" required>
                    <mat-option (click)="onCreateCategorie()">New</mat-option>
                        <mat-option *ngFor="let categorie of categories" [value]="categorie.id">
                            {{categorie.libelle}}
                        </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <app-upload-image *ngIf="!memberService.fileUrl"></app-upload-image>

        <button mat-raised-button color="primary"
        type="submit" [disabled]="!memberService.fileUrl || form.invalid">
        {{memberService.formData.memberid ? 'Modifier': 'Ajouter'}}
        </button>
    </form>

    <div class="del" *ngIf="memberService.fileUrl != null">
        <mat-card class="example-card" >
            <img mat-card-image [src]="memberService.fileUrl" height="200px">
            <mat-card-actions class="text-center">
                <button mat-icon-button (click)="onDeleteDrapImage()">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>


<div class="container">
    <app-tasks-view></app-tasks-view>
</div>
