<main>
  <header>
    <h1 *ngIf="bug.project">Détails du bug {{ bug.title }} du projet {{ bug.project.title }}</h1>

    <app-auth-user [rolesGranted]="rolesGranted" (isGrantedEvent)="isAuthUserGranted($event)"></app-auth-user>

    <div *ngIf="isGranted && isDataLoaded">
      <div class="btn-group-container">
        <button mat-raised-button color="accent"
          (click)="onBugsList(bug.project)">
          <mat-icon>arrow_back</mat-icon>Retourner à la liste des bugs
        </button>
      </div>

      <div *ngIf="isWrongBugId">
        <p class="text-danger">L'identifiant du bug présent dans l'URL est incorrect. Aucun bug n'a été trouvé en base avec cet ID.</p>
      </div>
    </div>
  </header>

  <div *ngIf="!isWrongBugId" class="mat-elevation-z8">
    <app-data-loading [isDataLoaded]="isDataLoaded"></app-data-loading>

    <mat-card *ngIf="isDataLoaded && isGranted">
      <mat-card-header>
        <div mat-card-avatar class="center-flex">
          <mat-icon>bug_report</mat-icon>
        </div>
        <mat-card-title>{{ bug.title }}</mat-card-title>
        <mat-card-subtitle>{{ bug.bugid }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="bug.description">{{ bug.description }}.</p>
        <div *ngIf="bug.descriptionclient">
          <h6>Description du client :</h6>
          <p>{{ bug.descriptionclient }}.</p>
        </div>

        <p *ngIf="bug.component">Composant concerné : {{ bug.component }}.</p>
        <p *ngIf="!bug.component" class="text-warning">Aucun composant n'est associé à ce bug.</p>

        <p [ngStyle]="{'color': bug.statustextcolor }">Statut : {{ bug.statusfrench }}.</p>

        <p>Projet associé : {{ bug.project.title }}.</p>

        <p *ngIf="bug.member">Corrigé par : {{ bug.member.firstname }} {{ bug.member.lastname }}.</p>
        <p *ngIf="!bug.member" class="text-warning">Personne n'est assigné à corriger ce bug.</p>
        
        <p>Signalé par : {{ bug.user.email }}.</p>

        <p>Signalé le : {{ bug.timestamp | date: 'EEEE, dd/MM/yy' }}.</p>

        <p *ngIf="bug.timeestimated">Durée de correction estimée : {{ bug.timeestimated }} heure(s).</p>
        
        <p *ngIf="bug.timespent">Durée consacrée à corriger le bug : {{ bug.timespent }} heure(s).</p>
        
        <p *ngIf="bug.timestampcompleted">Corrigé le {{ bug.timestampcompleted | date: 'EEEE, dd/MM/yy' }}.</p>
      </mat-card-content>
      <img mat-card-image *ngIf="bug.picture" class="center-flex"
        [src]="bug.picture" alt="Capture d'écran du bug">
      <mat-card-actions>
        <button mat-raised-button color="primary"
          (click)="onEditBug(bug.project, bug)">
          <mat-icon>edit</mat-icon>
          Modifier ce bug
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>