<h1>Assigner un membre à la tâche {{ previousFormData.title }}</h1>
<form #form="ngForm" autocomplete="off"
  (ngSubmit)="onSubmit(form)">

  <input type="hidden"
    #taskid="ngModel" name="taskid"
    [(ngModel)]="previousFormData.taskid">
  <input type="hidden"
     #projectid="ngModel" name="projectid"
    [(ngModel)]="previousFormData.projectid">

  <mat-form-field>
    <mat-label>Membre</mat-label>
    <mat-select #member="ngModel" name="member"
      [(ngModel)]="previousFormData.memberid"
      required>
      <mat-option *ngFor="let member of membersTable" [value]="member">
        {{ member.firstname }} {{ member.lastname }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <div class="btn-group-container">
    <button mat-raised-button mat-dialog-close>Retour</button>
    <button mat-raised-button color="primary" type="submit"
      [disabled]="form.invalid">
      Assigner un membre
    </button>
  </div>
</form>