.header {
  height: 4rem;
  display: flex;
  color: var(--text-light-color);
}

.header-logo {
  max-height: 3.5rem;
  width: auto;
}

.header-items,
.header-links-container {
  height: 100%;
  display: flex;
}

.header-link,
.header-form {
  height: 100%;
  padding: 0 0.5rem;
}

.header-link {
  line-height: 2rem;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out;
}
.header-link:hover {
  background-color: var(--bg-dark-color);
}