<mat-toolbar *ngIf="isAuth" class="header" color="primary">
  
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="header-items" fxHide.sm fxHide.xs>
    
    <a class="center-flex" matTooltip="Accueil" routerLink="/">
      <img src="/assets/logo.png" alt="Logo Faisceaume" class="header-logo">
    </a>

    <!-- Admin part -->
    <div *ngIf="isAdmin" class="header-links-container">
      <div class="header-link center-flex" routerLink="/users/list" matTooltip="Liste des utilisateurs">Utilisateurs</div>
      <div class="header-link center-flex" routerLink="/clients/list" matTooltip="Liste des clients">Clients</div>
      <div class="header-link center-flex" routerLink="/members/list" matTooltip="Liste des membres">Membres</div>
      <div class="header-link center-flex" routerLink="/projects/list" matTooltip="Liste des projets">Projets</div>
      <div class="header-link center-flex" routerLink="/tasks/my-tasks" matTooltip="Mes tâches">Tâches</div>
      <div class="header-link center-flex" routerLink="/bugs/my-bugs" matTooltip="Mes bugs">Bugs</div>
    </div>
    <!-- Dev part -->
    <div *ngIf="isDev" class="header-links-container">
      <div class="header-link center-flex" routerLink="/dev/members" matTooltip="Liste des membres">Membres</div>
      <div class="header-link center-flex" routerLink="/dev/projects" matTooltip="Liste des projects">Projets</div>
      <div class="header-link center-flex" routerLink="/dev/my-tasks" matTooltip="Mes tâches">Tâches</div>
      <div class="header-link center-flex" routerLink="/dev/my-bugs" matTooltip="Mes bugs">Bugs</div>
    </div>
    <!-- Client part -->
    <div *ngIf="isClient" class="header-links-container">
      <div class="header-link center-flex" routerLink="/client/my-projects" matTooltip="Mes projets">Projets</div>
    </div>
  </div>

  <div class="header-items">

    <div *ngIf="showSearchTool" class="center-flex">
      <button mat-icon-button color="accent"
        *ngIf="isAdmin && showSearchTool"
        (click)="showSearchTool = !showSearchTool">
        <mat-icon>close</mat-icon>
      </button>
      <!-- 
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Recherche" aria-label="Assignee"
          matInput [formControl]="myControl" [matAutocomplete]="auto"
          (keyup)="onKeyUp($event.target.value)">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="clickMe()">
            {{ option.lastname }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      &nbsp;
      <mat-form-field>
        <mat-label>Catégorie</mat-label>
        <mat-select [(value)]="categorieSelected" (valueChange)="onSearch()">
          <mat-option *ngFor="let categorie of categories" [value]="categorie.id">
            {{ categorie.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

    </div>

    <div *ngIf="!showSearchTool" class="center-flex">

      <button mat-icon-button color="accent" 
        matTooltip="Ajouter un utilisateur"
        *ngIf="isAdmin && usersService.isUsersSection"
        (click)="onAddUser()">
        <mat-icon>person_add</mat-icon>
      </button>

      <button mat-icon-button color="accent" 
        matTooltip="Ajouter un membre"
        *ngIf="isAdmin && membersService.isMembersSection"
        (click)="onAddMember()">
        <mat-icon>person_add</mat-icon>
      </button>
        
      <button mat-icon-button color="accent" 
        matTooltip="Ajouter un client"
        *ngIf="isAdmin && clientsService.isClientsSection"
        (click)="onAddClient()">
        <mat-icon>person_add</mat-icon>
      </button>

      <button mat-icon-button color="accent"
        matTooltip="Créer un projet"
        *ngIf="isAdmin && projectsService.isProjectsSection"
        (click)="onAddProject()">
        <mat-icon>note_add</mat-icon>
      </button>

      <button mat-icon-button color="accent"
        matTooltip="Reporter un bug" 
        *ngIf="isAdmin && bugsService.isBugsSection"
        (click)="onAddBug(projectsService.currentProject)">
        <mat-icon>add_alert</mat-icon>
      </button>
      
      <button mat-icon-button color="accent"
        matTooltip="Ajouter une tâche" 
        *ngIf="isAdmin && tasksService.isTasksSection"
        (click)="onAddTask(projectsService.currentProject)">
        <mat-icon>note_add</mat-icon>
      </button>

      <button mat-icon-button color="accent"
        matTooltip="Afficher la table"
        (click)="onShowGrid()"
        *ngIf="!sharedService.isGridShown
          && (bugsService.isBugsList || clientsService.isClientsList || tasksService.isTasksList)">
        <mat-icon>grid_on</mat-icon>
      </button>
      <button mat-icon-button color="accent"
        matTooltip="Afficher la grille" 
        (click)="onShowTable()"
        *ngIf="sharedService.isGridShown
          && (bugsService.isBugsList || clientsService.isClientsList || tasksService.isTasksList)">
        <mat-icon>table_chart</mat-icon>
      </button>


      <button *ngIf="isAdmin" mat-icon-button color="accent" matTooltip="Chercher"
        (click)="showSearchTool = !showSearchTool">
        <mat-icon>search</mat-icon>
      </button>

      <button mat-icon-button color="accent"
        matTooltip="Se déconnecter"
        (click)="signOutUser()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      
      <mat-form-field *ngIf="projectsService.currentProject" class="header-form">
        <mat-label>Projet</mat-label>
        <mat-select
          [(value)]="projectsService.currentProject.title"
          (selectionChange)="onChangeProject($event.value)">
          <mat-option *ngFor="let project of projectsTable" [value]="project.title">
            {{ project.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- 
      <button mat-icon-button color="accent"
        matTooltip="Fermer"
        (click)="closeFilterByMember()" 
        *ngIf="isTasksSection && tasksService.onDisplayFilterByMember">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="openFilterByMember()" matTooltip="Ouvrir" 
        *ngIf="isTasksSection && !onDisplayFilterByMember">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
      &nbsp;
      <mat-form-field *ngIf="isTasksSection">
        <mat-label>Projet</mat-label>
        <mat-select [(value)]="selectedProject">
          <mat-option *ngFor="let project of projects" [value]="project">
            {{ project.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
       -->
    </div>
  </div>
</mat-toolbar>
