.project-card {
  min-width: 20rem;
  margin: var(--sm-length);
}

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-elements {
  cursor: pointer;
}

.element-card {
  height: 3rem;
  margin: var(--sm-length) 0;
}
.element-card:hover {
  background-color: var(--bg-hover-color);
}

.element-card-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.element-card-title {
  font-size: 1.2rem;
  font-weight: 500;
}


.member-img-card {
  margin-left: auto; /* Put img-block to the right */
  max-height: 2.5rem;
  width: auto;
  border-radius: 50%;
}