<main>
  <header class="top-container">
    <h1>Liste des membres</h1>

    <app-auth-user [rolesGranted]="rolesGranted" (isGrantedEvent)="isAuthUserGranted($event)"></app-auth-user>

    <div *ngIf="isGranted && isDataLoaded">
      <div *ngIf="members.length === 0">
        <p>Aucun membre n'existe en base.</p>
      </div>
    </div>
  </header>

  <div>
    <app-data-loading [isDataLoaded]="isDataLoaded"></app-data-loading>

    <div *ngIf="isDataLoaded && isGranted && members.length !== 0">
      <div class="members-container"
        cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)">

        <div class="member-block"
          cdkDrag [cdkDragData]="member"
          *ngFor="let member of members">

          <img class="member-img"
            [src]="member.picture ? member.picture : 'assets/images/default_user.jpeg'"
            alt="Image du membre">
          <div class="member-name">
            <h3>
              {{ member.firstname }} {{ member.lastname }}
              <span matBadgeColor="accent" class="member-badge"
                [matBadge]="member.location" matBadgeOverlap="false"
                *ngIf="member.location"></span>
            </h3>
          </div>

          <div class="member-icons">
            <button mat-icon-button color="warn"
              *ngIf="!member.uid"
              matTooltip="Assigner un utilisateur"
              (click)="onUpdateMemberUser(member)">
            <mat-icon>assignment_ind</mat-icon>
            </button>
            <button mat-icon-button
              matTooltip="Détails du membre"
              (click)="onDetailsMember(member)">
              <mat-icon>find_in_page</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>