<main>
  <header>
    <h1 *ngIf="task.project">Détails de la tâche {{ task.title }} du projet {{ task.project.title }}</h1>

    <app-auth-user [rolesGranted]="rolesGranted" (isGrantedEvent)="isAuthUserGranted($event)"></app-auth-user>
    
    <div *ngIf="isGranted && isDataLoaded">
      <div class="btn-group-container">
        <button mat-raised-button color="accent"
          (click)="onTasksList(task.project)">
          <mat-icon>arrow_back</mat-icon>Retourner à la liste des tâches
        </button>
      </div>

      <div *ngIf="isWrongTaskId">
        <p class="text-danger">L'identifiant de la tâche présent dans l'URL est incorrect. Aucune tâche n'a été trouvée en base avec cet ID.</p>
      </div>
    </div>
  </header>

  <div *ngIf="!isWrongTaskId" class="mat-elevation-z8">
    <app-data-loading [isDataLoaded]="isDataLoaded"></app-data-loading>

    <mat-card *ngIf="isDataLoaded && isGranted">
      <mat-card-header>
        <div mat-card-avatar class="center-flex">
          <mat-icon>ballot</mat-icon>
        </div>
        <mat-card-title>{{ task.title }}</mat-card-title>
        <mat-card-subtitle>{{ task.taskid }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ task.description }}.</p>

        <p *ngIf="task.component">Composant concerné : {{ task.component }}.</p>
        <p *ngIf="!task.component" class="text-warning">Aucun composant n'est associé à ce task.</p>

        <p [ngStyle]="{'color': task.statustextcolor }">Statut : {{ task.statusfrench }}.</p>

        <p>Projet associé : {{ task.project.title }}.</p>

        <p *ngIf="task.member">Réalisée par : {{ task.member.firstname }} {{ task.member.lastname }}.</p>
        <p *ngIf="!task.member" class="text-warning"> Personne n'est assigné à réaliser cette tâche.</p>

        <p>Ajoutée le : {{ task.timestamp | date: 'EEEE, dd/MM/yy' }}.</p>

        <p *ngIf="task.timeestimated">Durée de réalisation estimée : {{ task.timeestimated }} heure(s).</p>

        <p *ngIf="task.timespent">Durée consacrée à réaliser la tâche : {{ task.timespent }} heure(s).</p>
        
        <p *ngIf="task.timecompleted">Terminée le {{ task.timecompleted | date: 'EEEE, dd/MM/yy' }}.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"
          (click)="onEditTask(task.project, task)">
          <mat-icon>edit</mat-icon>Modifier cette tâche
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</main>