
<div fxLayout="column" fxLayoutAlign="start start" class="capsule-project" fxLayoutGap="5px">

    <div>
      <h4 (click)="onEdit(project)">{{ project.title }}</h4>
      <!-- <h5>{{ project.projectid }}</h5> -->
    </div>

    <img (click)="onEdit(project)" src="{{ project.picture }}">

    <div
      class="tasks"
      cdkDropList
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="drop($event)"
      *ngIf="projectTasks">

      <div
        class="inner-card"
        cdkDrag
        *ngFor="let task of projectListTask" (click)="onEditTask(task)">
        <div class="capsule-task" fxLayout="row" fxLayoutAlign="start center">
          <div>
            <img class="mat-card-vignette" mat-card-image
            src="{{ task.memberpicture ? task.memberpicture : 'assets/images/default_user.jpeg' }}">
          </div>
          <div>
            <h6>{{ task.title }}</h6>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button mat-icon-button color="accent" matTooltip="Modifier"
       (click)="onEdit(project)">
        <mat-icon>edit</mat-icon>
      </button>
      <!-- <button mat-icon-button color="accent" matTooltip="Supprimer"
       (click)="onDelete(project)">
          <mat-icon>delete</mat-icon>
      </button> -->
      <button mat-icon-button color="accent" matTooltip="Nouvelle Tâche"
       (click)="onCreateTask()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
</div>
