
<div *ngIf="display" fxLayout="row" fxLayoutAlign="center center">
    <div class="picprofile" [ngStyle]="{'background-image': 'url(' + member.picture +')', 'background-size': 'cover'}"></div>
    <div fxLayout="column">
      <span class="name">{{ member.name }}</span>
      <span class="cat"> {{ category }} </span>
      <div fxLayout="row">
        <span class="task">{{ taskCompleteCurrentMonth }}</span>
        <div fxLayout="row">
          <span class="lastmonth">{{ mois[precMonth] }} : </span>
          <span class="lastmonthtask">{{ taskCompletePrecMonth }} </span>
        </div>
      </div>
    </div>
</div>
