.auth-bg-color {
  background: linear-gradient(342deg, rgba(2,0,36,1) 0%, rgba(70,70,70,1) 100%, rgba(148,148,148,1) 100%);
}

.logo-header,
.mat-tab {
  background-color: var(--bg-light-color);
}

.logo-header {
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
}

.toggle-password {
  cursor: pointer;
}


.auth-form {
  padding: var(--lg-length);
}

.field-form {
  padding-bottom: var(--lg-length);
  width: 50%;
}