<h1>Modifier le statut de la tâche {{ previousFormData.title }}</h1>
<form
  #form="ngForm"
  autocomplete="off"
  (ngSubmit)="onSubmit(form)">

  <input type="hidden"
    #taskid="ngModel" name="taskid"
    [(ngModel)]="previousFormData.taskid">
  <input type="hidden"
    #projectid="ngModel" name="projectid"
    [(ngModel)]="previousFormData.projectid">
  <input type="hidden"
    #memberid="ngModel" name="memberid"
    [(ngModel)]="previousFormData.memberid">

  <mat-form-field>
    <mat-label>Nouveau statut</mat-label>
    <mat-select #status="ngModel" name="status"
      [(ngModel)]="previousFormData.statusfrench"
      (ngModelChange)="getLastStatusUpdate($event)"
      required>
      <mat-option *ngFor="let status of statusTable" [value]="status">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="statusInput=='done'">
    <mat-label>Durée effective de réalisation</mat-label>
    <mat-select #timespent="ngModel" name="timespent"
      [(ngModel)]="previousFormData.timespent"
      required>
      <mat-option *ngFor="let time of timesTable" [value]="time">
        {{ time }} heure(s)
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="btn-group-container">
    <button mat-raised-button mat-dialog-close>Retour</button>
    <button  mat-raised-button color="primary" type="submit"
      [disabled]="form.invalid">
      Modifier le statut
    </button>
  </div>
</form>