<div style="width: 35%;" *ngIf="!usersService.isAdministrateur && memberStat">
  <app-tasks-stats [member]="memberStat"></app-tasks-stats>
</div>

<div class="container pro" *ngIf="displayProject">
  <div fxLayout="row" [ngStyle]="{'padding':'20px 0 10px'}">
    <div fxFlex="20" fxLayoutAlign="start center" *ngIf="!projectPick">
      <h3>Select Project : </h3>
    </div>
    <div fxFlex="20" fxLayoutAlign="start center" fxLayout="column"
      *ngFor="let project of projects; let i = index"
      (click)="displayOnProject(project,i)">
        <img  class="tab-thumb-project" src="{{ project.picture }}">
        <p>{{ project.title }}</p>
        <div *ngIf="showAllP || (projectPick !== null && project.title === projectPick.title)">
          <mat-chip-list *ngIf="memberPick && projectPick">
            <mat-chip (removed)="removeChipProject()" [removable]="true">
              <mat-slide-toggle [disabled]="disableFilter" (change)="displayUntreatedTask(status.checked)" #status class="example-margin"></mat-slide-toggle>
              &nbsp; &nbsp; {{memberPick.name}}
              <mat-icon matChipRemove >cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
    </div>
  </div>
</div>

<div *ngIf="!usersService.isAdministrateur && projectPick" style="padding: 1em 0 0 1em">
  <mat-chip-list>
    <mat-chip (removed)="removeChip()" [removable]="true">
      &nbsp; &nbsp; {{ projectPick.title}}
      <mat-icon matChipRemove >cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<div class="container mem" *ngIf="usersService.isAdministrateur && displayMember">
  <div fxLayout="row" [ngStyle]="{'padding':'20px 0 10px'}">
    <div fxFlex="20" fxLayoutAlign="start center" *ngIf="!memberPick">
      <h3>Select Member : </h3>
    </div>
    <div fxFlex="20" fxLayoutAlign="start center" fxLayout="column"
      *ngFor="let member of members; let i = index"
      (click)="displayOnMember(member,i)">
        <img  class="tab-thumb" src="{{ member.picture }}">
        <p>{{ member.name }}</p>
        <div *ngIf="showAllM || (memberPick.name !== null && memberPick.name === member.name)">
          <mat-chip-list *ngIf="projectPick && memberPick">
            <mat-chip (removed)="removeChip()" [removable]="true">
              <mat-slide-toggle [disabled]="disableFilter" (change)="displayUntreatedTask(status.checked)" #status class="example-margin"></mat-slide-toggle>
              &nbsp; &nbsp; {{projectPick.title}}
              <mat-icon matChipRemove >cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
    </div>
  </div>
</div>



<div class="container" fxLayout="row wrap" fxLayoutGap="3px"
[ngStyle]="{ 'margin-top':'20px' }" *ngIf="tasksService.onsShowGrille">
  <mat-card class="example-card" *ngFor="let task of tasks">
      <mat-card-header [ngStyle]="{'opacity': task.status === 'done' ? 0.3 : 1 }">
        <div mat-card-avatar [style.background-image]="getBackground(task.memberpicture)"
        class="example-header-image" *ngIf="task.memberpicture"></div>
        <mat-card-title>{{ task.title }} </mat-card-title>
        <mat-card-subtitle>{{ task.time }} heure(s)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content [ngStyle]="{'opacity': task.status === 'done' ? 0.3 : 1 }">
        <p [innerHtml]="task.description | newline">
        </p>
      </mat-card-content>
      <mat-card-actions [ngStyle]="{'opacity': task.status === 'done' ? 0.3 : 1 }">

        <button mat-icon-button color="accent" (click)="onEdit(task)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="usersService.isAdministrateur" mat-icon-button color="accent" (click)="onDelete(task)">
          <mat-icon>delete</mat-icon>
        </button>
        <button  mat-icon-button color="accent" *ngIf="task.status !== 'done' && usersService.isAdministrateur" (click)="onUpdateTaskStatut(task)">
          <mat-icon>check</mat-icon>
        </button>

      </mat-card-actions>
  </mat-card>
</div>

