<main>
  <header>
    <h1>Les bugs que j'ai signalé pour le projet {{ project.title }}</h1>

    <app-auth-user [rolesGranted]="rolesGranted" (isGrantedEvent)="isAuthUserGranted($event)"></app-auth-user>

    <div *ngIf="isGranted && isDataLoaded">
      <div class="btn-group-container">
        <button mat-raised-button color="accent"
          (click)="onProjectsList()">
          <mat-icon>arrow_back</mat-icon>Retourner à liste de mes projets
        </button>
        <button mat-raised-button color="primary"
          (click)="onAddBug(project)">
          <mat-icon>add_alert</mat-icon>Reporter un bug
        </button>
      </div>

      <div *ngIf="isWrongProjectId">
        <p class="text-danger">L'identifiant du projet présent dans l'URL est incorrect. Aucun bug n'a été trouvé en base avec cet ID.</p>
      </div>
      <div *ngIf="!isWrongProjectId && project.bugs.length === 0">
        <p>Vous n'avez reporté aucun bug.</p>
      </div>
    </div>
  </header>

  <div *ngIf="!isWrongProjectId">
    <app-data-loading [isDataLoaded]="isDataLoaded"></app-data-loading>

    <div *ngIf="isDataLoaded && isGranted && project.bugs.length !== 0">
      <!-- Cards grid display part -->
      <div *ngIf="sharedService.isGridShown" class="cards-flex-container">
        <mat-card *ngFor="let bug of project.bugs" class="mat-elevation-z8 element-card-flex">
          <mat-card-header>
            <div mat-card-avatar class="center-flex">
              <mat-icon>ballot</mat-icon>
            </div>
            <mat-card-title>{{ bug.title }}</mat-card-title>
            <mat-card-subtitle>{{ bug.bugid }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p *ngIf="bug.component">Composant concerné : {{ bug.component }}.</p>
            <p *ngIf="!bug.component" class="text-warning">Aucun composant n'est associé à ce bug.</p>

            <p>Ajouté le : {{ bug.timestamp | date: 'EEEE, dd/MM/yy' }}.</p>
            
            <p *ngIf="bug.timestampcompleted">Terminée le {{ bug.timestampcompleted | date: 'EEEE, dd/MM/yy' }}.</p>
          </mat-card-content>

          <mat-card-actions>
            <button mat-icon-button color="primary"
              matTooltip="Détails du bug"
              (click)="onBugDetails(bug)">
              <mat-icon>find_in_page</mat-icon>
            </button>
          </mat-card-actions>

        </mat-card>
      </div>
      
      <!-- Table display part -->
      <div class="table-filter-container">
        <mat-form-field>
          <mat-label>Filtrer</mat-label>
          <input matInput placeholder="Filtrer" #input
            (keyup)="applyTableFilter($event.target.value)">
        </mat-form-field>
      </div>
  
      <mat-table [dataSource]="bugsTable" matSort>
  
        <mat-header-row *matHeaderRowDef="columnsTable"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsTable;"></mat-row>
  
        <!-- Row shown when there is no matching data -->
        <mat-row *matNoDataRow>
          <mat-cell colspan="4">Aucune correspondance avec le filtre {{ input.value }}</mat-cell>
        </mat-row>
  
        <!-- Title column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
          <mat-cell *matCellDef="let bug"
            [ngStyle]="{'background-color': bug.statusbackgroundcolor }">
            {{ bug.title }}
          </mat-cell>
        </ng-container>
  
        <!-- Date of creation column -->
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Date de report</mat-header-cell>
          <mat-cell *matCellDef="let bug"
            [ngStyle]="{'background-color': bug.statusbackgroundcolor }">
            {{ bug.timestamp | date: 'dd/MM/yy' }}
          </mat-cell>
        </ng-container>
  
        <!-- Status column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Statut</mat-header-cell>
          <mat-cell *matCellDef="let bug"
            [ngStyle]="{'background-color': bug.statusbackgroundcolor }">
            <mat-icon matTooltip="{{ bug.statusfrench }}">
              {{ bug.statusicon }}
            </mat-icon>
          </mat-cell>
        </ng-container>
  
        <!-- Operations column -->
        <ng-container matColumnDef="operations">
          <mat-header-cell *matHeaderCellDef>Opérations</mat-header-cell>
          <mat-cell *matCellDef="let bug"
            [ngStyle]="{'background-color': bug.statusbackgroundcolor }">
            <button mat-icon-button color="primary"
              matTooltip="Détails du bug"
              (click)="onBugDetails(bug)">
              <mat-icon>find_in_page</mat-icon>
            </button>
            <button mat-icon-button color="accent"
              matTooltip="Modifier le bug"
              (click)="onEditBug(project, bug)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"></mat-paginator>
      
    </div>
  
  </div>
</main>