.upload-img-container {
  margin-top: var(--lg-length);
}

.input-file-container {
  margin: var(--sm-length) 0;
}

mat-label {
  color: var(--input-color);
}


.drop-zone {
  height: 150px;
  margin: var(--sm-length) 0;
  color: var(--input-color);
  background-color: var(--text-light-color);
  background-image: linear-gradient(224deg, #ffffff 0%, #e9e9e9 100%);
  border: 5px dotted var(--input-color)
}

.drop-zone:hover {
  color: var(--text-dark-color);
  border: 5px solid var(--text-dark-color);
}

/* Cheat to custom the input file button by creating an associated label with CSS */
.label-file {
  color: var(--text-light-color);
  background-color: var(--accent-color);
}
.label-file:hover {
  opacity: 0.95;
}
.label-file > mat-icon {
  vertical-align: middle;
}

.input-file {
  display: none;
}

